/**
 * =============================================================================
 * Accordions
 * =============================================================================
 */

.accordion-btn {
  padding: 15px;
  width: 100%;
  color: #2c3e50;
  font-size: 1.25em;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  outline: none;
  border: 1pt solid #fbeaff;
  background-color: #fbeaff;
  transition: all 0.3s ease-out;
}
.accordion-active,
.accordion-btn:hover,
.accordion-btn:active {
  color: #fcfcfc;
  border: 1pt solid #673ab7;
  background-color: #673ab7; 
}
.accordion-active:hover,
.accordion-active:active {
  color: #2c3e50;
  border: #fbeaff;
  background-color: #fbeaff; 
}
.accordion-main {
  display: none;
  padding: 0 15px;
  text-align: justify;
  border: 1pt solid #673ab7;
  background-color: #fcfcfc;
}
